numpy>=1.17.0
pandas>=1.0,!=1.1 #  required by Anndata
dill>=0.3.8
anndata>=0.7.4,!=0.10.9
scanpy>=1.9.6
muon>=0.1.6
scikit-learn>=0.19
scipy>=1.4
igraph>=0.10.8
leidenalg>=0.10.1
kneed>=0.7
seaborn>=0.11
matplotlib>=3.3
scikit-misc>=0.1.3
adjusttext>=0.7.3
umap-learn>=0.3.0
pybedtools>=0.8.0
torch_geometric>=2.5.3
# bedtools>=2.29.0 # not available in pip
tables

