sphinx>=3.0
sphinx-rtd-theme>=0.5
sphinx-copybutton>=0.5.2
sphinx_design>=0.6.1
sphinxext-opengraph>=0.9.1
nbsphinx>=0.8
ipython>=8.18.1
numpy<2
gseapy>=1.1.0
https://download.pytorch.org/whl/cpu/torch-1.13.0%2Bcpu-cp39-cp39-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.13.0%2Bcpu/torch_sparse-0.6.17%2Bpt113cpu-cp39-cp39-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.13.0%2Bcpu/torch_scatter-2.1.1%2Bpt113cpu-cp39-cp39-linux_x86_64.whl
